body {
	background-color:#34495e;
}

#items {
	background-color:rgba(255,255,255, 0.3);	
}

td, th{
	padding-right:20px;
}

.itemsAddedToCart ul {
	list-style-type: none;
}

#addItemToCart {
	padding:20px;
	border:2px solid black;
	margin:50px 25px 0 0;
	border-radius:10px;
	background-color:rgba(255,255,255, 0.3);
}

#totalList {
	padding:20px;
	border:2px solid black;
	margin:50px 0 0 25px;
	border-radius:10px;
	background-color: rgba(255,255,255, 0.3);
}

#totalList .itemsAddedToCart {
	min-height:300px;
}

#wrapperForUserControls {
	margin:auto;
}
#totalDisplay {
	clear:both;
	vertical-align: bottom;
}

.calculations p {
	display:inline;
}

.calculations .quantityAmount {
	float:right;
}

